* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: url("bg.jpg") center center/cover;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  background-attachment: fixed;
  padding: 20px;
  margin: 20px;
  color: white;
}

.keys {
  margin: auto;
  width: 900px;
  margin-top: 15%;
  align-content: center;
}

.key {
  display: inline-block;
  float: left;
  margin: 20px;
  padding: 10px;
  width: 120px;
  height: 120px;
  background: #333;
  border-radius: 10px;
  opacity: 0.8;
  z-index: 1;
  text-align: center;
  color: beige;
}

kbd {
  display: block;
  text-align: center;
  padding: 10px;
  font-size: 2em;
  z-index: 2;
  color: #c8984c;
}

.audio {
  color: white;
  font-size: 1.1em;
  font-weight: bold;
  padding: 2px;
  margin: 2px;
  z-index: 2;
}

.play {
  transform: scale(2);
  border-color: #ffc600;
  box-shadow: 0 0 10px #ffc600;
  opacity: 0.5;
}
